<% provide(:title, @user.name) %>
<%= render 'shared/side'%>

<div class="mainregion">
	<% if @user.topics.any? %>
	<h1> Your topics (<%= @user.topics.count %>) </h1>
	<ol class ="topic">
	<%=render @topics %>
	</ol>
	<%= will_paginate @topics %>
	<%else%>
	<h1> You don't have any topic yet </h1>
	<% end %>
</div>