<% provide(:title, 'All topics') %>

<div>
 <% if @goodtopics.any? %>
 <h1>Most popular topics</h1>
   
    <table class ="topic">
      <%=render @goodtopics %>
    </table>
  <%end%>
</div>

<div>
 <h1>Latest topics (<%= @topics.count%>)</h1>
 <% if @topics.any? %>
   
    <table class ="topic">
      <%=render @topics %>
    </table>
    <%= will_paginate @topics %>
  <% else%>

  <h2>There are no topics yet! </h2>
  <%end%>
</div>

<div>

<h1>Active users</h1>
<% if @activeUsers.any? %>
  <% @activeUsers.each do |activeUser| %>
  <div>


  </div>

  <%end%>
<%end%>


</div>

   

