<% provide(:title, 'All topics') %>

 <% if @goodtopics.any? %>
 <h1>Most popular topics</h1>
   
    <ol class ="topic">
      <%=render @goodtopics %>
    </ol>
  <%end%>


 <h1>Latest topics (<%= @topics.count%>)</h1>
 <% if @topics.any? %>
   
    <ol class ="topic">
      <%=render @topics %>
    </ol>
    <%= will_paginate @topics %>
  <% else%>

  <h2>There are no topics yet! </h2>
  <%end%>


<h1>Active users</h1>
<% if @activeUsers.any? %>
  <% @titles.each do |title| %>
  <div>
    

  </div>

  <%end%>
<%end%>




   

