<% provide(:title, 'All topics') %>

 <% if @topics.any? %>
    <h1>All topics (<%= @topics.count%>)</h1>
    <ol class ="topic">
      <%=render @topics %>
    </ol>
    <%= will_paginate @topics %>
  <%end%>





